ion-content {
    --background: transparent;
}

.title {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 30%;
    border: solid 7px var(--ion-color-secondary);
    // border-bottom: solid 7px var(--ion-color-secondary);
    color: var(--ion-color-secondary);
    // background-color: rgba(var(--ion-color-primary-rgb), .5);
    margin: 0;
    padding: 40px 20px;
    font-size: 30px;
    text-align: center;
    // filter: opacity(0.2);
    // filter: drop-shadow(2px 4px 6px rgba(0,0,0,.4)) opacity(.8);
    // filter: grayscale(.1);
}

.back {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/nozhnitsyibritva2.png');
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 25% center;
    // filter: drop-shadow(2px 4px 6px rgba(0,0,0,.4));
}