// background-color: rgba(255,255,255,.3);
ion-content {
    --background: rgba(var(--ion-color-primary-rgb), 0);
}

ion-slides {
    min-height: 100%;
    padding-top: 20px;
    --bullet-background: var(--ion-color-secondary);
    --bullet-background-active: rgba(var(--ion-color-secondary-rgb), .9);

    ion-slide {
        ion-list {
            background-color: transparent;
        }

        ion-item {
            --background: transparent;
            color: #111;
            font-size: 18px;

            ion-chip {
                font-weight: 600;
            }
        }
    }
}

ion-card {
    min-height: 100%;
    margin: 20px;
}
