<ion-header [ngStyle]="{opacity: 0}">
  <ion-toolbar color="light">
    <ion-title>Цены</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h1 class="title-mobile-only">Прайс</h1>
  <ion-slides pager="true" [options]="slideOpts3" *ngIf="currentSlideQuantity === 3">
    <ion-slide *ngFor="let type of types">
      <ion-card color="light">
        <img [src]="type.img">
        <ion-card-header>
          <ion-card-subtitle>Тип инструмента:</ion-card-subtitle>
          <ion-card-title>{{type.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item lines="none">{{type.description}}</ion-item>
          <ion-list>
            <ion-item *ngFor="let tool of type.tools">
              <ion-label>
                <h2>
                  {{tool.name}}
                  <ion-chip color="primary">
                    <ion-label>{{tool.price}} руб.</ion-label>
                  </ion-chip>
                </h2>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
  <ion-slides pager="true" [options]="slideOpts2" *ngIf="currentSlideQuantity === 2">
      <ion-slide *ngFor="let type of types">
        <ion-card color="light">
          <img [src]="type.img">
          <ion-card-header>
            <ion-card-subtitle>Тип инструмента:</ion-card-subtitle>
            <ion-card-title>{{type.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item lines="none">{{type.description}}</ion-item>
            <ion-list>
              <ion-item *ngFor="let tool of type.tools">
                <ion-label>
                  <h2>
                    {{tool.name}}
                    <ion-chip color="primary">
                      <ion-label>{{tool.price}} руб.</ion-label>
                    </ion-chip>
                  </h2>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-slides pager="true" [options]="slideOpts1" *ngIf="currentSlideQuantity === 1">
        <ion-slide *ngFor="let type of types">
          <ion-card color="light">
            <img [src]="type.img">
            <ion-card-header>
              <ion-card-subtitle>Тип инструмента:</ion-card-subtitle>
              <ion-card-title>{{type.name}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item lines="none">{{type.description}}</ion-item>
              <ion-list>
                <ion-item *ngFor="let tool of type.tools">
                  <ion-label>
                    <h2>
                      {{tool.name}}
                      <ion-chip color="primary">
                        <ion-label>{{tool.price}} руб.</ion-label>
                      </ion-chip>
                    </h2>
                  </ion-label>
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
</ion-content>