:root {
  --ion-color-primary: #1f3252;
  --ion-color-primary-rgb: 31,50,82;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1b2c48;
  --ion-color-primary-tint: #354763;

  --ion-color-secondary: #b66629;
  --ion-color-secondary-rgb: 182,102,41;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #a05a24;
  --ion-color-secondary-tint: #bd753e;

  --ion-color-tertiary: #90839f;
  --ion-color-tertiary-rgb: 144,131,159;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #7f738c;
  --ion-color-tertiary-tint: #9b8fa9;

  --ion-color-success: #509c50;
  --ion-color-success-rgb: 80,156,80;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #468946;
  --ion-color-success-tint: #62a662;

  --ion-color-warning: #ffea93;
  --ion-color-warning-rgb: 255,234,147;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ce81;
  --ion-color-warning-tint: #ffec9e;

  --ion-color-danger: #c60f0f;
  --ion-color-danger-rgb: 198,15,15;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #ae0d0d;
  --ion-color-danger-tint: #cc2727;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34,34,34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,244,244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}