* {
    outline: none;
}

:root {
    /**  CUSTOM  **/
    // --ion-font-family: 'Exo 2', sans-serif;
    // --ion-font-family: 'Lobster Two', cursive;
    // --ion-font-family: 'Philosopher', sans-serif;
    // --ion-font-family: 'Didact Gothic', sans-serif;
    // --ion-font-family: 'Anonymous Pro', monospace;
    // --ion-font-family: 'Kurale', serif;

     // --ion-font-family: 'Cormorant', serif;
    --ion-font-family: 'Cormorant Infant', serif;
    // --ion-font-family: 'Cormorant SC', serif;
    // --ion-font-family: 'Cormorant Unicase', serif;
}

/*
    scroll
*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    width: 10px;
    display: block;
    background-color: rgba(var(--ion-color-primary-rgb), 0.5);
}

::-webkit-scrollbar-track-piece {
    background-color: rgba(var(--ion-color-primary-rgb), 0.3);
    width: 10px;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    height: 5px;
    background-color: rgba(var(--ion-color-primary-rgb), 1);
}

.movie-modal {
    --background: transparent;
    --border-radius: 50%;
    --height: 700px;
    --width: 700px;
}

@media (max-width: 800px) and (orientation: portrait) {
    .movie-modal {
        --height: 350px;
        --width: 350px;
    }
}

@media (max-height: 800px) and (orientation: landscape) {
    .movie-modal {
        --height: 350px;
        --width: 350px;
    }
}