<ion-header [ngStyle]="{opacity: 0}">
  <ion-toolbar color="light">
    <ion-title>Почему мы?</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <h1 class="title-mobile-only">Почему мы?</h1>

  <ion-card *ngFor="let reason of reasons">
    <ion-card-header>
      <ion-card-title [ngStyle]="{fontSize: '24px'}">{{reason.title}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [ngStyle]="{fontSize: '18px'}">{{reason.description}}</ion-card-content>
  </ion-card>
</ion-content>