<ion-header [ngStyle]="{opacity: 0}">
  <ion-toolbar color="light">
    <ion-title>О заточке и гарантиях</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Заточка</ion-card-title>
      <ion-card-subtitle>Почему нужна профессиональная заточка?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum accusamus dolore ducimus non voluptate numquam
      voluptates in sed hic! Deleniti, sequi! Dolorem molestiae exercitationem praesentium animi, quas alias nulla
      possimus.
      Officiis id dolorum quidem natus, autem commodi corporis dignissimos nobis nostrum quos sint veritatis totam
      tempora exercitationem adipisci delectus omnis temporibus. Quidem, ducimus. Obcaecati voluptates fugiat quos animi
      dignissimos aliquid.
      Ab maiores quis iure quisquam molestias sit maxime! Magni perferendis quo unde amet illum dolores numquam ducimus
      totam dolor, quibusdam distinctio sequi eius quia at itaque error consectetur modi. Velit.
      Aspernatur, minima laudantium facilis provident iste quaerat nisi, exercitationem nulla blanditiis modi impedit
      nihil quos facere culpa qui magnam eligendi. Praesentium, omnis maiores quas culpa corporis est excepturi sit
      impedit.
      Sit officia quidem facere assumenda illo excepturi voluptatibus facilis error velit quod. Laborum esse
      perspiciatis laboriosam animi dolor expedita dolores a nostrum quos incidunt quo fuga sint ab, nam unde.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Гарантии</ion-card-title>
      <ion-card-subtitle>Что мы готовы гарантировать?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsa tenetur sit at corrupti illo ut praesentium
      assumenda quaerat vel. Voluptate natus aliquam debitis maiores, eius nostrum maxime placeat quis!
      Corrupti quia molestiae amet explicabo quod ea eveniet dolore aliquid aperiam rerum, quam perspiciatis non minima
      veniam voluptatum cum repudiandae totam quo soluta assumenda sequi et odio! Ipsum, tenetur quia!
      Ad esse quo error iste adipisci voluptatibus praesentium consequuntur dignissimos, repudiandae animi eveniet illum
      velit est dolorum nostrum laudantium eos autem voluptatem eius? Magni dolor possimus, eaque ratione incidunt
      aliquid.
      In earum, dolor aperiam ipsam eveniet magnam porro molestias voluptatem ducimus natus, hic sit autem ratione eum
      similique iste, ea laboriosam deserunt vero sint reiciendis quia fugit! Veniam, voluptatum doloribus.
      Doloremque fuga obcaecati nam provident vitae a totam, itaque placeat officia nisi similique aliquam quam iure
      corrupti beatae aperiam omnis! Architecto sint possimus quibusdam enim! Libero velit magni corrupti culpa!
      Odio explicabo facilis voluptas voluptatum illum maxime quasi amet molestias aliquid porro eos quos, corporis iure
      accusamus dolore fugit, omnis quis dicta? Aliquam odio dignissimos libero voluptas? Soluta, commodi magni.
      Eligendi praesentium officia aliquam quod minus cumque tempore atque! Minus quia corrupti cumque laborum numquam
      accusamus magni quod blanditiis nulla, nostrum tempora deleniti ipsam omnis earum voluptate ea placeat soluta.
      Molestias nam quis temporibus vel harum vero reiciendis error architecto, modi laboriosam, dolores maiores? Nisi
      alias sint accusamus at deserunt, obcaecati molestiae impedit consequuntur dicta iure autem blanditiis! Porro,
      eveniet?
    </ion-card-content>
  </ion-card>
</ion-content>