<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Остро НН (home)
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-router-outlet [ngStyle]="{backgroundImage: 'url(/assets/img/back.jpg)'}"></ion-router-outlet>
  <div class="menu">
    <div class="menu-item" [routerLink]="['/home']" routerLinkActive="menu-item-active" [routerLinkActiveOptions]="{exact:true}">Главная</div>
    <div class="menu-item" [routerLink]="['/home/price']" routerLinkActive="menu-item-active">Прайс</div>
    <div class="menu-item" [routerLink]="['/home/about']" routerLinkActive="menu-item-active">Описание работы</div>
    <div class="menu-item" [routerLink]="['/home/why']" routerLinkActive="menu-item-active">Почему профессиональная заточка?</div>
    <div class="menu-item" [routerLink]="['/home/guarantee']" routerLinkActive="menu-item-active">Гарантия</div>
    <div class="menu-item" [routerLink]="['/home/contact']"  routerLinkActive="menu-item-active">Контакты</div>
  </div>
</ion-content>