<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Остро НН (home)
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-refresher slot="fixed" pullFactor="1" pullMax="400" pullMin="250" snapbackDuration="100ms" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
  </ion-refresher> -->
  <ion-router-outlet [ngStyle]="{backgroundImage: 'url(/assets/img/back.jpg)'}"></ion-router-outlet>
  <div class="menu">
    <div class="menu-item" *ngFor="let item of menu" [routerLink]="[item.url]" routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{exact:true}">{{item.title}}</div>
    <ion-icon name="menu" size="large" color="secondary" class="menu-mobile-btn" (click)="showMobileMenu()"></ion-icon>
  </div>
  <div class="menu-mobile" *ngIf="mobileIsActive">
    <div class="menu-mobile-item" *ngFor="let item of menu" [routerLink]="[item.url]" (click)="hideMobileMenu()"
      routerLinkActive="menu-mobile-item-active" [routerLinkActiveOptions]="{exact:true}">{{item.title}}</div>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="megaphone"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button title="+7 987 753 999 2">
        <ion-icon name="call" (click)="call()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button title="order@ostro-nn.ru">
        <ion-icon name="paper-plane" (click)="send()"></ion-icon>
      </ion-fab-button>
      <ion-fab-button title="Форма обратной связи">
        <ion-icon name="clipboard" (click)="send()"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>